
.header,.main-text,.information,.quote{
    padding: 0 10vw;
    padding-bottom: 64px;
}
.dark-background{
    background-color: #1f2937;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-secondary-text{
    font-size: 18px;
    color: #e5e7eb
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}
.header-info{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 32px 0;
}

button{
    color: #f9faf8;
    padding: 8px 16px;
    border-radius: 10%;
    border: 0;
}

.cta-background,button{
    background-color: #3882f6;
}

.quote-background{
    background-color: #e5e7eb;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937
}
div.quote-text{
    width: 70vw;
}

.quote-author{
    font-weight: 800;
    font-size: 18px;
    text-align: right;
    margin-top: 8px;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 32px;
}

.main-text{
    display: flex;
}
.left-side{
    flex: 1;
    margin-right: 16px;
}
.right-side{
    flex: 1;
    background-color: #696969;
    width: 100%;
    height: auto;
    margin-left: 16px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box{
    width: 100%;
    padding-top: 100%;
    border: 3px blue solid;
    border-radius: 10%;
    margin: auto;
    margin-bottom: 8px;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    gap: 32px;
    justify-content: space-around;
    align-items: center;
}
.card{
    flex-basis: 10vw;
}